<nav class="navbar navbar-expand-lg p-3 noBackgroundColor text-white bg-dark">
    <a class="navbar-brand ml-3" href="index.html"><img src="../static/image/1logo.png" width="50" height="50" alt=""> ACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="projectManagement.html">Project Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="supplierManagement.html">Supplier Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="LOGManagement.html">Letter Of Guatantee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="IOUManagement.html">IOU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account.html">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="report.html">Reports</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <p class="mt-3"><i class="bi bi-telephone-fill"></i> TEL: +662-001-1156</p>
            <a class="btn btn-outline-light mx-5" type="button" href="login.html"><span class="mx-5 rounded-pill">LOG IN</span></a>
        </ul>
    </div>
</nav>